# Entorno Virtual
venv/
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Variables de entorno
.env

# Base de datos y archivos de instancia
instance/
*.db
*.sqlite3

# Carpeta de subidas
uploads/